// Place all the styles related to the api/images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload-image-panel {
  font-size: 18px;
}
.gutter-image img {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
}

.gutter-image.col-md-2 {
  padding: 0px;
}

.location-error {
  background-color: #d9534f;
  color:white;
  border-radius: 3px;
  padding-left: 2px;
}

.uploaded-image-main {
  padding-top: 20px;
}

.uploaded-image-main img {
  height: 100%;
  width: 100%;
  border: 5px solid black;
}

.thumbnail-images {
  width: 600px;
  margin: 0 auto;
}

.active-image {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.uploaded-image-main {
  margin-bottom: 10px;
}
.upload-form {
  margin-top: 20px;
}

.upload-inputs {
  width: 50%;
  margin: 0 auto;
}

.upload-form input {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
}

.thumbnail-images.row {
  margin-left: 0px;
  margin-right: 0px;
}

input.btn-success {
  background-color: rgb(102, 189, 43);
  border: none;
  width: 70%;
  height: 40px;
}

.upload-form .btn-success {
  margin-left: 5%;
}

.upload-decision-buttons {
  width: 50%;
  margin: 0 auto;
}

button.btn-danger {
  float: left;
  border: none;
  width: 25%;
  height: 40px;
}
