// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time {
  float: right;
  color: rgb(165, 167, 170);
}
.name-location, .comment-form, .like-button {
  float: left;
}

.panel-heading .prof-pic {
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  width: 30px;
  height: 30px;
}


#map-container {
  border-right: 2px solid gray;
  padding: 0px;
  height: 100%;
  position: fixed;
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.panel-heading img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.clear-fix {
  height: 1px;
  clear: both;
}

.post-image {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.post-image img{
  width: 100%;
  height: 100%;
}

.image-wrapper {
  height: 640px;
  width: 640px;
}

.like-button {
  width: 44px;
  height: 44px;
  background-color: white;
  border: none;
  float: left;
}

.like-button:focus {
  outline: 0;
}

.posts-container {
  width: 640px;
  margin: 0 auto;
}

.inTheIndex {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heart-image {
  width: 29px;
  height: 26px;
  background-repeat: no-repeat;
}

.separator.long-separator {
  width: 608px;
}

.like-comments {
  margin-top: 10px;
  background-color: white;
}
.comment-text {
  float: left;
  width: 560px;
  height: 44px;
  border: none;
}

.comment-text:focus {
  outline: 0;
}

.btn-default.disable-panning {
  position: fixed;
  bottom: 10px;
  right: 60%;
  background-color: #125688;
  color: white;
  border: none;
}

.btn-default.disable-panning:hover {
  background-color: #0d3c5f;
  color: white;
}

.btn-default.disable-panning:active, .btn-default.disable-panning:focus, .btn-default.disable-panning:visited, .btn-default.disable-panning:active:focus, .btn-default.start-tour-button:active, .btn-default.start-tour-button:focus, .btn-default.start-tour-button:visited, .btn-default.disable-panning:active:focus  {
  background-color: #0d3c5f;
  color: white;
  outline: none;
}

.btn-default.start-tour-button {
  position: fixed;
  bottom: 10px;
  background-color: #125688;
  color: white;
  right: 1%;
  border-radius: 50%;
  border: 5px solid white;
  font-size: 16px;
}
