// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time {
  float: right;
}
.name-location, .comment-form, .like-button {
  float: left;
}

.panel-heading .prof-pic {
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

#map-container {
  border-right: 2px solid gray;
  padding: 0px;
}

#map-canvas {
  height: 600px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.panel-heading img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.clear-fix {
  height: 1px;
  clear: both;
}

.post-image {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.post-image img{
  width: 100%;
  height: 100%;
}

.image-wrapper {
  height: 640px;
  width: 640px;
}

.like-button {
  width: 44px;
  height: 44px;
  background-color: white;
  border: none;
  float: left;
}

.like-button:focus {
  outline: 0;
}

.posts-container {
  width: 640px;
  margin: 0 auto;
}

.heart-image {
  width: 29px;
  height: 26px;
  background-repeat: no-repeat;
}


.like-comments {
  margin-top: 10px;
  background-color: white;
}
.comment-text {
  float: left;
  width: 560px;
  height: 44px;
  border: none;
}

.comment-text:focus {
  outline: 0;
}
