// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-window-container-lg {
  height: 135px;
  width: 175px;
  text-align: center;
}

.info-window-container-sm {
  height: 135px;
  width: 175px;
  text-align: center;
}

.info-window-container-sm img {
  width: 100px;
  height: 100px;
}

.info-window-container-lg img {
  width: 100px;
  height: 100px;
}

#edit-btn, .following-btn, #follow-btn {
  margin-top: 9px;
  margin-left: 15px;
  width: 115px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
}

#edit-btn {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(129, 132, 136);
  border: 1px solid rgb(129, 132, 136);
}

#follow-btn {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #4090db;
  border: 1px solid #4090db;
}

.prof-pic-show {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  margin: 0 auto;
}

.user-info {
  height: 152px;
  margin-top: 49px;
}

.prof-pic-show img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.prof-pic-wrapper {
  height: 152px;
  width: 152px;
  margin-top: 49px;
}

.icons {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
}

.image-detail {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  position: absolute;
  display: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

.grid-photo .thumbnail {
  padding: 0;
}

.user-bio {
  font-size: 17px;
  margin-top: 7px;
  padding-right: 40px;
}

.profile-stats {
  list-style-type: none;
  padding: 0px;
  font-size: 17px;
  margin-top:10px;
}
.profile-stat {
  float: left;
  margin-right: 5px;
}

.posts-grid {
  padding-bottom: 20px;
  border-top: 2px solid gray;
}

.prof-page-header {
  width: 100%;
  height: 250px;
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.large-panel {
  width: 900px;
  margin: 0 auto;
}

.grid-photo.col-md-4 {
  padding: 0px;
}

a.thumbnail {
  border: none;
  margin-bottom: 0px;
}

span.username {
  font-size: 34px;
  float: left;
}

.name-and-button-wrapper button.btn-default {
  float: left;
  background-color: #FAFAFA;
  height: 30px;
  width: 105px;
  margin-left: 20px;
}

.name-and-button-wrapper button.btn-success {
  float: left;
  background-color: rgb(102, 189, 43);
  border: none;
  height: 30px;
  width: 105px;
  margin-left: 20px;
}

.m-background {
  background: rgba(92, 88, 88, 0.97);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 41.667%;
  right: 0;
  z-index: 1;
  height: 100vh;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 5vh;
  left: 50%;
  bottom: 0;
  right: 0;
  width: 642px;
  height: 818px;
  transform: translateX(-50%);
  margin-bottom: 5vh;
}
