// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-window-container {
  height: 100px;
  width: 100px;
}

.info-window-container img {
  width: 80%;
  height: 80%;
}

.prof-pic-show {
  height: 152px;
  width: 152px;
  border-radius: 50%;
}

.prof-pic-show img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.prof-pic-wrapper {
  height: 152px;
  width: 152px;
}

.icons {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
}

.image-detail {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  position: absolute;
  display: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

.grid-photo:hover .image-detail {
  display: block;
}

.posts-grid {

}

.grid-photo .thumbnail {
  padding: 0;
}

.profile-stats {
  list-style-type: none;
  padding: 0px;
}
.profile-stat {
  float: left;
  margin-right: 5px;
}

.prof-page-header {
  width: 700px;
  height: 200px;
}
.large-panel {
  width: 900px;
  margin: 0 auto;
}

.grid-photo.col-md-4 {
  padding: 0px;
}

a.thumbnail {
  border: none;
  margin-bottom: 0px;
}

span.username {
  font-size: 36px;
  float: left;
}

.name-and-button-wrapper button.btn-default {
  float: left;
  background-color: whitesmoke;
  height: 30px;
  width: 105px;
  margin-left: 20px;
}

.name-and-button-wrapper button.btn-success {
  float: left;
  background-color: rgb(102, 189, 43);
  border: none;
  height: 30px;
  width: 105px;
  margin-left: 20px;
}

.m-background {
  background: rgba(92, 88, 88, 0.97);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 3%;
  left: 15%;
  background-color: white;
}
