<%= auth_token %>
<label for="user_username">Username</label><br>
<input type="text" name="user[username]" id="user_username">
<br><br>
<label for="user_password">Password</label><br>
<input type="password" name="user[password]" id="user_password">
<br><br>
<input type="submit" class="btn-success">

</form>

<!-- defunct -->
