/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body, html, #main-content, .userShow, div.user-show-container, .post-index-container, .post-index-inner-container, { height:100% }

#main-content {
  padding-top: 50px;
}

.notification-image {
  height: 35px;
  width: 35px;
}

.notification-container {
  height: 60px;
  width: 280px;
}

.notification-image.prof-img {
  border-radius: 50%;
  float: left;
}

.notification-image.post-img {
  float: right;
}


.notification-text {
  float: left;
  width: 150px;
  height: 40px;
  margin-left: 5px;
  margin-top: 9px;
}

.user-show-container .post-index {
  height: 100%;
}

.container-fluid {
  margin: auto;
  width: 640px;
}

.navbar {
  margin-bottom: 0px;
}

li.inactive {
  display: none;
}

.post-index {
  padding-top: 20px;
  position: absolute;
  right: 0px;
}

.container-fluid.show {
  width: 900px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav .logo-wrapper{
  height: 50px;
}

.navbar-nav .logo-wrapper img{
  margin-top: 5px;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}
