// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log-in {
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.edit-profile-picture {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}

.log-in textarea {
  width: 100%;
}

.editContainer {
  height: 100%;
}

.edit.btn-success {
  width: 70%;
  margin-left: 10%;
}

.page-container {
  background-color: #FAFAFA;
  height: 100%;
}

.small-panel {
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
}

.form-header {
  text-align: center;
  font-size: 26px;
  background: #125688;
  height: 50px;
  color: white;
  padding-top: 5px;
}

.log-in-footer {
  text-align: center;
  margin-top: 15px;
}

.form-body {
  padding: 15px;
}
.login-submit {
  width: 200px;
}

.form-body input {
  width: 100%;
}

.form-body .btn-success {
  background-color: rgb(102, 189, 43);
  border: none;
}

.form-header-image img {
  margin: 0 auto;
}

.form-footer-text {
  color: white;
}
