<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Map</a>
      <a class="navbar-brand upload" href="#">Upload</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <div class="logo-wrapper">
            <a href="#">
              <img src="assets/Wandergram-logo.png" alt="Wandergram" />
              <span class="sr-only">(current)</span>
            </a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Notifications</a></li>
          <% if(typeof CURRENT_USER_NAME !== "undefined") { %>
            <li class="username-link"><a href="#/users/home"><%= CURRENT_USER_NAME %></a></li>
          <% } %>
        <li class="logout-link inactive"><a href="javascript:void(0)">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
