<div class="post-index-inner-container">
  <div class="col-xs-5 col-md-5" id="map-container">

  </div>

  <div class="post-index col-xs-7 col-md-7">

    <div class=" posts-container">
    </div>
  </div>
  <div class="disable-panning-container">
    <button type="button" class="btn btn-default disable-panning" name="button">Panning Enabled</button>
  </div>
  <div class="start-tour">
    <button type="button" class="start-tour-button" name="button">?</button>
  </div>

</div>
