<div class="user-show-container row">
  <div class="col-xs-5 col-md-5" id="map-container">

  </div>
  <div class="post-index col-xs-7 col-md-7">
    <div class="prof-page-header">
    </div>
    <div class="posts-grid row">
    </div>
  </div>
</div>
